<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:image" content="{{.ThumbnailUrl}}" />

    <title>{{.Title}}</title>
  </head>
  <body>
    <h1>{{.Title}}</h1>

    <div class="post-content">
      <img
        src="{{.ImageUrl}}"
        alt="Image for the post: {{.Title}}"
        style="max-width: 100%; height: auto"
      />

      <p>This is the detail view for the post titled "{{.Title}}".</p>
    </div>
  </body>
</html>
